In [1]:
import pandas as pd
from sqlalchemy import create_engine

import sys, os

# Helpers
abspath = os.path.abspath
dirname = os.path.dirname
sep = os.sep
file_ = os.getcwd()

sys.path.append(dirname(abspath(file_)))

import utils.folder_tb as fo
import utils.mining_data_tb as md
import utils.sql_tb as sq

## Data to upload

In [2]:
# Load the data and check that everything is fine
cleaned_data_path = fo.path_to_folder(2, "data" + sep + "7_cleaned_data") + "cleaned_data.csv"
data = pd.read_csv(cleaned_data_path)

print(data.shape)
data.info()

(13472, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13472 entries, 0 to 13471
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      13472 non-null  int64
 1   MCQ010    13472 non-null  float64
 2   RIAGENDR  13472 non-null  int64
 3   RIDAGEYR  13472 non-null  int64
 4   DR1TCHOL  13472 non-null  float64
 5   DR1TTFAT  13472 non-null  float64
 6   DR1TSFAT  13472 non-null  float64
 7   DR1TSUGR  13472 non-null  float64
 8   DR2TCHOL  13472 non-null  float64
 9   DR2TTFAT  13472 non-null  float64
 10  DR2TSFAT  13472 non-null  float64
 11  DR2TSUGR  13472 non-null  float64
 12  BPXDI1    13472 non-null  float64
 13  BPXSY1    13472 non-null  float64
 14  BMXWT     13472 non-null  float64
 15  BMXWAIST  13472 non-null  float64
 16  LBXTC     13472 non-null  float64
 17  LBXSGL    13472 non-null  float64
dtypes: float64(15), int64(3)
memory usage: 1.9 MB

## SQL connection

In [3]:
#Â Load server setting into variables
read_json = md.read_json_to_dict("sql_server_settings.json")

IP_DNS = read_json["IP_DNS"]
USER = read_json["USER"]
PASSWORD = read_json["PASSWORD"]
DB_NAME = read_json["DB_NAME"]
PORT = read_json["PORT"]

In [4]:
# Connection with the database
sql_db = sq.MySQL(IP_DNS, USER, PASSWORD, DB_NAME, PORT)
sql_db.connect()

Connected to MySQL server [45395203b_ds_april_2021_db]

In [5]:
# Uploading the data into the db
db_connection_str = sql_db.SQL_ALCHEMY
db_connection = create_engine(db_connection_str)

data.to_sql("jonathan_suarez_caceres", con = db_connection, index = False)

ValueError: Table 'jonathan_suarez_caceres' already exists.

In [9]:
#Â Close connection
sql_db.close()

Close connection with MySQL server [45395203b_ds_april_2021_db]