# Python | Programación funcional

### Ejercicio 1.

1. Utiliza `reduce` para concatenar estas palabras en una frase
```Python
ejer_1 = ("to", "be", "or", "not", "to", "be", "that", "is", "the", "question")
```

In [16]:
from functools import reduce

ejer_1 = ("to", "be", "or", "not", "to", "be", "that", "is", "the", "question")

result1 = reduce(lambda x, y: x + ' ' + y, ejer_1)
result1

'to be or not to be that is the question'

2. Obtén una nueva tupla con el cuadrado de cada elemento de la siguiente tupla

```Python
ejer_2 = (1,2,3,4,5)
```

In [18]:
ejer_2 = (1,2,3,4,5)

result2 = list(map(lambda x: x ** 2, ejer_2))
result2

[1, 4, 9, 16, 25]

3. Filtra aquellos elementos que sean multiplos de 3 o de 5
```Python
ejer_3 = (1,2,3,4,5,15,21,22,33,34,35)
```

In [20]:
ejer_3 = (1,2,3,4,5,15,21,22,33,34,35)

result3 = list(filter(lambda x: x % 3 == 0 or x % 5 == 0, ejer_3))
result3

[3, 5, 15, 21, 33, 35]

4. Convierte la siguiente tupla de pesetas a euros
```Python
ejer_4 = (1000, 8000, 20000000, 40000000)
```

In [21]:
ejer_4 = (1000, 8000, 20000000, 40000000)

result4 = list(map(lambda x: x / 166, ejer_4))
result4

[6.024096385542169, 48.19277108433735, 120481.92771084337, 240963.85542168675]

5. Convierte la siguiente lista de desconocidos a mayusculas
```Python
ejer_5 = ("Arya", "John", "Robb", "Bran", "Sansa", "Rickon")
```

In [22]:
ejer_5 = ("Arya", "John", "Robb", "Bran", "Sansa", "Rickon")

result5 = list(map(lambda x: x.upper(), ejer_5))
result5

['ARYA', 'JOHN', 'ROBB', 'BRAN', 'SANSA', 'RICKON']

6. Realiza un conversor de dias de la semana en texto a numerico (1-7), usando `map`.
```Python
ejer_6 = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")
```

In [26]:
ejer_6 = ("Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo")
n_days = [1, 2, 3, 4, 5, 6, 7]

d = dict(zip(ejer_6, n_days))

result6 = list(map(lambda v: v, d.values()))
result6

[1, 2, 3, 4, 5, 6, 7]

7. Utiliza `map` para multiplicar elemento a elemento estas dos tuplas
```Python
ejer_7_1 = (2, 5, 8)
ejer_7_2 = (6, 3, 2)
```

In [27]:
ejer_7_1 = (2, 5, 8)
ejer_7_2 = (6, 3, 2)

result7 = list(map(lambda x, y: x + y, ejer_7_1, ejer_7_2))
result7

[8, 8, 10]

8. Crea una tupla nueva con todos los coches que no sean VW :)

```Python
ejer_8 = ("VW", "Audi", "Renault", "VW", "BMW")
```

In [28]:
ejer_8 = ("VW", "Audi", "Renault", "VW", "BMW")

result8 = list(filter(lambda x: x != 'VW', ejer_8))
result8

['Audi', 'Renault', 'BMW']

9. Dadas las siguientes fechas en formato string, quedate con aquellas del año 2020

```Python
ejer_9 = ("2019-04-08", "2020-10-10", "2020-01-22", "2019-07-13", "2019-02-01")
```

In [29]:
ejer_9 = ("2019-04-08", "2020-10-10", "2020-01-22", "2019-07-13", "2019-02-01")

result9 = list(filter(lambda x: x[:4] == '2020', ejer_9))
result9

['2020-10-10', '2020-01-22']

10. Filtra aquellos strings que sean [palíndromos](https://es.wikipedia.org/wiki/Pal%C3%ADndromo)
```Python
ejer_10 = ("php", "w3r", "Python", "abcd", "Java", "aaa")
```

In [32]:
ejer_10 = ("php", "w3r", "Python", "abcd", "Java", "aaa")

result10 = list(filter(lambda x: x == x[::-1], ejer_10))
result10

['php', 'aaa']

### Bonus Track.

- Resuelve esta kata usando `map`
https://www.codewars.com/kata/554b4ac871d6813a03000035

Nota: si es demasiado difícil intenta resolverla sin usar `map` y si lo consigues, vuelve a resolverla usando `map`.

In [14]:
s = "-1 1 2 3 4 5"

def high_and_low(numbers):

    str_list = numbers.split(' ')
    num_list = list(map(int, str_list))

    min_num = min(num_list)
    max_num = max(num_list)

    numbers = str(max_num) + ' ' + str(min_num)

    return numbers

high_and_low(s)

'5 -1'