In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import os, sys

#Â Relative paths
dirname = os.path.dirname
sep = os.sep

ml_folder = dirname(os.getcwd())
sys.path.append(ml_folder)

from src.utils import mining_data as md

In [2]:
dietary_dfs = md.read_data(2, "2_dietary")

In [3]:
for name, df in dietary_dfs.items():
    print(name, df.shape)

dr1tot_j (8704, 167)
dr1tot_i (9544, 167)
dr1tot_h (9813, 167)
dr2tot_i (9544, 84)
dr2tot_h (9813, 84)
dr2tot_j (8704, 84)

In [4]:
variable_names = pd.read_csv("../data/6_variables/0_final_variables.csv", index_col = 0)

cond1 = variable_names["file_name"] == "DR1TOT_J"
cond2 = variable_names["file_name"] == "DR2TOT_J"

filter1 = list(variable_names[cond1]["vAr_nAmE"].values)
filter2 = list(variable_names[cond2]["vAr_nAmE"].values)

In [7]:
dr1tot_i = dietary_dfs["dr1tot_i"].loc[:, filter1]
dr1tot_j = dietary_dfs["dr1tot_j"].loc[:, filter1]
dr1tot_h = dietary_dfs["dr1tot_h"].loc[:, filter1]

In [8]:
dr2tot_i = dietary_dfs["dr2tot_i"].loc[:, filter2]
dr2tot_j = dietary_dfs["dr2tot_j"].loc[:, filter2]
dr2tot_h = dietary_dfs["dr2tot_h"].loc[:, filter2]

In [9]:
dr2tot_h

,DR2TALCO,DR2TATOA,DR2TATOC,DR2TB12A,DR2TBCAR,DR2TCAFF,DR2TCALC,DR2TCARB,DR2TCHL,DR2TCHOL,...,DR2TVARA,DR2TVB1,DR2TVB12,DR2TVB2,DR2TVB6,DR2TVC,DR2TVD,DR2TVK,DR2TZINC,WTDR2D
SEQN,,,,,,,,,,,,,,,,,,,,,
73557,0.0,0.00,5.74,0.00,118.0,66.0,377.0,217.80,633.5,893.0,...,242.0,1.257,2.62,1.475,2.788,258.8,3.5,20.4,11.39,12930.890649
73558,44.6,0.00,6.32,0.00,4574.0,216.0,1077.0,111.49,507.8,397.0,...,742.0,1.268,4.24,2.570,2.438,110.2,7.0,258.0,11.41,12684.148869
73559,0.0,0.00,8.21,1.66,421.0,64.0,702.0,286.47,127.7,56.0,...,593.0,1.792,4.96,1.878,1.862,226.4,4.0,66.1,8.15,39394.236709
73560,0.0,0.00,4.60,1.76,284.0,2.0,758.0,249.63,108.7,60.0,...,368.0,1.364,3.49,1.309,1.097,231.9,2.7,30.6,9.05,125966.366442
73561,0.0,0.00,56.29,8.77,1573.0,48.0,1567.0,195.95,252.5,58.0,...,959.0,1.629,9.11,2.066,2.974,255.9,25.4,136.1,19.34,39004.892993
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83727,19.9,0.00,10.29,4.15,1213.0,45.0,3045.0,465.47,791.5,736.0,...,1715.0,3.592,14.81,4.176,5.207,160.4,18.0,112.3,32.23,10520.302070
83728,0.0,0.00,3.10,0.90,943.0,0.0,709.0,147.16,109.0,52.0,...,442.0,0.679,2.84,1.200,1.331,68.1,5.9,22.6,3.32,51815.103262
83729,0.0,0.05,1.84,0.00,1216.0,41.0,554.0,88.46,86.7,76.0,...,185.0,0.658,1.32,0.663,0.714,63.0,2.1,47.3,2.32,10401.781170
83730,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83731,0.0,0.00,7.76,1.85,29014.0,3.0,837.0,187.98,132.3,26.0,...,3278.0,1.300,3.36,1.731,1.849,33.5,4.1,274.1,9.24,4339.132077