In [1]:
import pandas as pd
from pandas.plotting import scatter_matrix
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import os, sys

# Relative paths
dirname = os.path.dirname
sep = os.sep

ml_folder = dirname(os.getcwd())
sys.path.append(ml_folder)

from src.utils import mining_data_tb as md
from src.utils import visualization_tb as vi

import warnings

warnings.filterwarnings("ignore")

In [2]:
questionnaire_dfs = md.read_data(2, "5_questionnaire")
variable_names = pd.read_csv("../data/6_variables/0_final_variables.csv", index_col = 0)

len(questionnaire_dfs)

21

In [3]:
def questionnaire_cleaner(questionnaire_dfs, variable_names):
    # Conditions to filters the variable names df
    cond1 = variable_names["file_name"] == "BPQ_J"
    cond2 = variable_names["file_name"] == "PAQ_J"
    cond3 = variable_names["file_name"] == "DIQ_J"
    cond4 = variable_names["file_name"] == "SMQRTU_J"
    cond5 = variable_names["file_name"] == "SMQ_J"
    cond6 = variable_names["file_name"] == "MCQ_J"
    cond7 = variable_names["file_name"] == "DUQ_J"

    # Filtering the variable descriptions I need
    filter1 = list(variable_names[cond1]["vAr_nAmE"].values)
    filter2 = list(variable_names[cond2]["vAr_nAmE"].values)
    filter3 = list(variable_names[cond3]["vAr_nAmE"].values)
    filter4 = list(variable_names[cond4]["vAr_nAmE"].values)
    filter5 = list(variable_names[cond5]["vAr_nAmE"].values)
    filter6 = list(variable_names[cond6]["vAr_nAmE"].values)
    filter7 = list(variable_names[cond7]["vAr_nAmE"].values)

    # Filtering the data
    bpq_h = questionnaire_dfs["bpq_h"].loc[:, filter1]
    bpq_i = questionnaire_dfs["bpq_i"].loc[:, filter1]
    bpq_j = questionnaire_dfs["bpq_j"].loc[:, filter1]

    paq_h = questionnaire_dfs["paq_h"].loc[:, filter2]
    paq_i = questionnaire_dfs["paq_i"].loc[:, filter2]
    paq_j = questionnaire_dfs["paq_j"].loc[:, filter2]

    diq_h = questionnaire_dfs["diq_h"].loc[:, filter3]
    diq_i = questionnaire_dfs["diq_i"].loc[:, filter3]
    diq_j = questionnaire_dfs["diq_j"].loc[:, filter3]

    smqrtu_h = questionnaire_dfs["smqrtu_h"].loc[:, filter4]
    smqrtu_i = questionnaire_dfs["smqrtu_i"].loc[:, filter4]
    smqrtu_j = questionnaire_dfs["smqrtu_j"].loc[:, filter4]

    smq_h = questionnaire_dfs["smq_h"].loc[:, filter5]
    smq_i = questionnaire_dfs["smq_i"].loc[:, filter5]
    smq_j = questionnaire_dfs["smq_j"].loc[:, filter5]

    mcq_h = questionnaire_dfs["mcq_h"].loc[:, filter6]
    mcq_i = questionnaire_dfs["mcq_i"].loc[:, filter6]
    mcq_j = questionnaire_dfs["mcq_j"].loc[:, filter6]

    duq_h = questionnaire_dfs["duq_h"].loc[:, filter7]
    duq_i = questionnaire_dfs["duq_i"].loc[:, filter7]
    duq_j = questionnaire_dfs["duq_j"].loc[:, filter7]

    bpq = pd.concat([bpq_h, bpq_i, bpq_j])
    paq = pd.concat([paq_h, paq_i, paq_j])
    diq = pd.concat([diq_h, diq_i, diq_j])
    smqrtu = pd.concat([smqrtu_h, smqrtu_i, smqrtu_j])
    smq = pd.concat([smq_h, smq_i, smq_j])
    mcq = pd.concat([mcq_h, mcq_i, mcq_j])
    duq = pd.concat([duq_h, duq_i, duq_j])

    full_dfs = {"bpq" : bpq, "paq" : paq, "diq" : diq, "smqrtu" : smqrtu, "smq" : smq, "mcq" : mcq, "duq" : duq}

    return full_dfs

In [4]:
full_dfs = questionnaire_cleaner(questionnaire_dfs, variable_names)

In [5]:
for name, df in full_dfs.items():
    print("\n", name , df.shape, "\n")
    print(df.info())
    print("#" * 50)

 bpq (18952, 3)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18952 entries, 73557 to 102956
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   BPD035  6390 non-null   float64
 1   BPQ020  18952 non-null  int64
 2   BPQ030  6401 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 592.2 KB
None
##################################################

 paq (24595, 6)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24595 entries, 73557 to 102956
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PAD615  3899 non-null   float64
 1   PAD630  7308 non-null   float64
 2   PAD645  5249 non-null   float64
 3   PAD660  5675 non-null   float64
 4   PAD675  8303 non-null   float64
 5   PAQ610  3927 non-null   float64
dtypes: float64(6)
memory usage: 1.3 MB
None
##################################################

 diq (28242, 2)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28242 entries, 73557 to 102956
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DID040  2482 non-null   float64
 1   DIQ170  18531 non-null  float64
dtypes: float64(2)
memory usage: 661.9 KB
None
##################################################

 smqrtu (20124, 2)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20124 entries, 73557 to 102956
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SMQ710  3022 non-null   float64
 1   SMQ720  3022 non-null   float64
dtypes: float64(2)
memory usage: 471.7 KB
None
##################################################

 smq (20893, 1)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20893 entries, 73557 to 102956
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SMD030  7360 non-null   float64
dtypes: float64(1)
memory usage: 326.5 KB
None
##################################################

 mcq (28242, 10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28242 entries, 73557 to 102956
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   MCQ010   28241 non-null  float64
 1   MCQ160B  17057 non-null  float64
 2   MCQ160C  17057 non-null  float64
 3   MCQ160D  17057 non-null  float64
 4   MCQ160E  17057 non-null  float64
 5   MCQ160F  17057 non-null  float64
 6   MCQ220   17057 non-null  float64
 7   MCQ230A  1684 non-null   float64
 8   MCQ230B  188 non-null    float64
 9   MCQ230C  21 non-null     float64
dtypes: float64(10)
memory usage: 2.4 MB
None
##################################################

 duq (14472, 2)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14472 entries, 73557 to 102956
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DUQ217  2691 non-null   float64
 1   DUQ219  2691 non-null   float64
dtypes: float64(2)
memory usage: 339.2 KB
None
##################################################

I will have to drop "duq", "smqrtu", "smq" and "paq" files alltogether.

Also the following variables:
- BPD035
- BPD030
--------------
- DID040
--------------
- MCQ230A
- MCQ230B
- MCQ230C

In [6]:
mcq = full_dfs["mcq"]
bpq = full_dfs["bpq"]
diq = full_dfs["diq"]

In [7]:
mcq["MCQ010"].value_counts()

2.0    23906
1.0     4306
9.0       27
7.0        2
Name: MCQ010, dtype: int64

In [8]:
cond_1 = mcq["MCQ160B"] == 1
cond_2 = mcq["MCQ160C"] == 1
cond_3 = mcq["MCQ160D"] == 1
cond_4 = mcq["MCQ160E"] == 1
cond_5 = mcq["MCQ160F"] == 1

mcq[(cond_1) | (cond_2) | (cond_3) | (cond_4) | (cond_5)].shape

(1921, 10)

In [9]:
bpq_2 = bpq.BPQ020
diq_2 = diq.DIQ170
mcq_2 = mcq.drop(["MCQ230A", "MCQ230B", "MCQ230C"], axis = 1)

In [10]:
final_df = pd.merge(mcq_2, diq_2, how = "outer", on = "SEQN")
final_df = pd.merge(final_df, bpq_2, how = "outer", on = "SEQN")

final_df.head()

,MCQ010,MCQ160B,MCQ160C,MCQ160D,MCQ160E,MCQ160F,MCQ220,DIQ170,BPQ020
SEQN,,,,,,,,,
73557,2.0,2.0,2.0,2.0,2.0,1.0,2.0,NaN,1.0
73558,1.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN,1.0
73559,2.0,2.0,2.0,2.0,2.0,2.0,1.0,NaN,1.0
73560,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73561,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0

In [11]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28242 entries, 73557 to 102956
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   MCQ010   28241 non-null  float64
 1   MCQ160B  17057 non-null  float64
 2   MCQ160C  17057 non-null  float64
 3   MCQ160D  17057 non-null  float64
 4   MCQ160E  17057 non-null  float64
 5   MCQ160F  17057 non-null  float64
 6   MCQ220   17057 non-null  float64
 7   DIQ170   18531 non-null  float64
 8   BPQ020   18952 non-null  float64
dtypes: float64(9)
memory usage: 2.2 MB

In [12]:
final_df.dropna().MCQ010.value_counts()

2.0    12484
1.0     2118
9.0       13
Name: MCQ010, dtype: int64

In [13]:
final_df.MCQ010.value_counts()

2.0    23906
1.0     4306
9.0       27
7.0        2
Name: MCQ010, dtype: int64