In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("../data/1_demographics/DEMO_J.csv")
df.head()

,Unnamed: 0,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,...,DMDHREDZ,DMDHRMAZ,DMDHSEDZ,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,1,93703.0,10,2,2,2,NaN,5,6,2.0,...,3.0,1.0,3.0,9246.491865,8539.731348,2,145,15.0,15.0,5.00
1,2,93704.0,10,2,1,2,NaN,3,3,1.0,...,3.0,1.0,2.0,37338.768343,42566.614750,1,143,15.0,15.0,5.00
2,3,93705.0,10,2,2,66,NaN,4,4,2.0,...,1.0,2.0,NaN,8614.571172,8338.419786,2,145,3.0,3.0,0.82
3,4,93706.0,10,2,1,18,NaN,5,6,2.0,...,3.0,1.0,2.0,8548.632619,8723.439814,2,134,NaN,NaN,NaN
4,5,93707.0,10,2,1,13,NaN,5,7,2.0,...,2.0,1.0,3.0,6769.344567,7064.609730,1,138,10.0,10.0,1.88

In [12]:
df.shape

(9254, 47)

In [21]:
df2 = pd.read_csv("../data/2_dietary/DR1IFF_J.csv")
df2.head()

,Unnamed: 0,SEQN,WTDRD1,WTDR2D,DR1ILINE,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,...,DR1IM181,DR1IM201,DR1IM221,DR1IP182,DR1IP183,DR1IP184,DR1IP204,DR1IP205,DR1IP225,DR1IP226
0,1,93704.0,81714.005497,82442.869214,1,1,49,2,2,7.0,...,4.549,0.040,0.000,3.669,0.467,0.0,0.022,0.0,0.001,0.006
1,2,93704.0,81714.005497,82442.869214,2,1,49,2,2,7.0,...,0.459,0.002,0.000,0.072,0.007,0.0,0.002,0.0,0.000,0.000
2,3,93704.0,81714.005497,82442.869214,3,1,49,2,2,7.0,...,4.656,0.106,0.009,5.485,0.226,0.0,0.040,0.0,0.003,0.002
3,4,93704.0,81714.005497,82442.869214,4,1,49,2,2,7.0,...,0.001,0.000,0.000,0.002,0.000,0.0,0.000,0.0,0.000,0.000
4,5,93704.0,81714.005497,82442.869214,5,1,49,2,2,7.0,...,2.043,0.041,0.000,1.418,0.263,0.0,0.000,0.0,0.000,0.000

In [19]:
df2[df2["SEQN"] == 93706]

,Unnamed: 0,SEQN,WTDRD1,WTDR2D,DR1ILINE,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,...,DR1IM181,DR1IM201,DR1IM221,DR1IP182,DR1IP183,DR1IP184,DR1IP204,DR1IP205,DR1IP225,DR1IP226
30,31,93706.0,6463.882999,0.0,1,1,86,2,1,NaN,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
31,32,93706.0,6463.882999,0.0,2,1,86,2,1,NaN,...,2.043,0.032,0.002,1.259,0.152,0.002,0.011,0.004,0.004,0.000
32,33,93706.0,6463.882999,0.0,3,1,86,2,1,NaN,...,3.701,0.057,0.003,2.268,0.274,0.003,0.019,0.006,0.006,0.000
33,34,93706.0,6463.882999,0.0,4,1,86,2,1,NaN,...,19.762,0.297,0.006,10.741,0.731,0.011,0.266,0.011,0.034,0.017
34,35,93706.0,6463.882999,0.0,5,1,86,2,1,NaN,...,8.031,0.069,0.000,14.894,1.958,0.000,0.006,0.000,0.000,0.002
35,36,93706.0,6463.882999,0.0,6,1,86,2,1,NaN,...,0.006,0.000,0.000,0.016,0.000,0.000,0.000,0.000,0.000,0.000
36,37,93706.0,6463.882999,0.0,7,1,86,2,1,NaN,...,8.031,0.069,0.000,14.894,1.958,0.000,0.006,0.000,0.000,0.002
37,38,93706.0,6463.882999,0.0,8,1,86,2,1,NaN,...,0.003,0.000,0.000,0.025,0.001,0.000,0.000,0.000,0.000,0.000