# Test DS-FT April 2021

## Primera parte (tipo test):

https://forms.gle/24Eu5xuFGn6jNKpx9

-----------------

## Segunda parte, ejercicios prácticos:

* El test práctico consta de 5 ejercicios puntuables. 
* Cada uno se puntúa sobre 2,5. 
* La máxima nota es 10.

Antes de comenzar, cambia el nombre del archivo notebook poniéndole delante tu nombre y primer apellido:

* nombre_apellido_test_pract_apr_2021.ipynb

In [1]:
# Escribe tu nombre en la variable:
nombre_y_apellidos = "Jonathan Suarez"

#### Notas y pruebas de apoyo para contestar las preguntas tipo test
Esto no es necesario usarlo aunque verlo aquí te puede dar la respuesta a alguna de las preguntas tipo test.

Cualquier código aunque no esté correcto nos dirá más de ti que no escribir nada.

In [31]:
# Ejemplo de como queremos ver el código para más de un intento:

a = 1
b = 1
c = 2

d = a == b or c == a

# -----
aux = [1, 2, 'x', 'd']
aux.remove('d')
aux

## ------
d_test = {'k1' : 1, 'k2' : 2}
l_test = list(d_test)

#for i in d_test:
#    print(i)

## ----------
#list(len(l_test))


t1 = (3, 2, 5, 4, 8, 6)
# t1.sort()
t2 = (2, 3, 4, 5, 6)

t3 = t1 + t2
t3

# ---------
str('Manzanas')

## ------
lll = [7, 8, 3, 4, 5, 6]
sorted(lll)

# ------
new_s = 'Soraya'
's' in new_s

# -----
#q = 4
#list(q)

# ------
b = (5)
type(b) != tuple

# -------
w = {1, 2, 3 , 4}
e = {1 : 4}

list(e.values())[0]

4

In [10]:
# crea todas las celdas que necesites

## Ejercicios prácticos

#### Ejercicio 1.
En este ejercicio se va a crear una lista con los siguientes elementos. Primero, crearemos las variables que luego añadiremos a la lista. Las variables son las siguientes:

1. Crea una variable llamada `num_dni` de tipo Integer que represente el primer número de tu DNI. 
2. Crea una variable llamada `let_dni` de tipo String y que represente la letra de vuestro DNI.
3. Crea una variable llamada `tip_ord` de tipo Boolean True si usas Windows y False si usas Mac.
4. Crea una variable llamada `nada` de tipo None cuyo valor sea None.
5. Crea una variable llamada `lista_deseo` de tipo List que contenga los cuatro objetos que te llevarías a una isla desierta. Cada elemento ha de ser de tipo String y el tamaño de la lista ha de ser 4.
6. Crea una variable llamada `tupla_ropa` de tipo Tuple con la marca de la prenda superior, inferior y calzado que llevas puesto.
7. Crea una variable llamada `dict_info` con dos keys y dos values. Una key es 'nombre', teniendo como value vuestro nombre. Otra key es 'edad', teniendo como value vuestra edad.
8. Crea una variable llamada `flo_hor` con la hora actual separada por punto en vez de dos puntos. Ejemplo: si son las 10:06, el valor de la variable sería 10.06.

Añade todos estos elementos en una lista llamada `lista_examen` en el orden de aparición.

In [8]:
# tu respuesta aquí
num_dni = 4
let_dni = 'B'
tip_ord = False
lista_deseo = ['cuchillo', 'cerillas', 'batamanta', 'cuerda']
tupla_ropa = ('Puma', 'C&A', 'Puma')
dict_info = {'nombre' : 'Jonathan', 'edad' : 27}
flo_hor = 9.41

lista_examen = [num_dni, let_dni, tip_ord, lista_deseo, tupla_ropa, dict_info, flo_hor]
lista_examen

[4,
 'B',
 False,
 ['cuchillo', 'cerillas', 'batamanta', 'cuerda'],
 ('Puma', 'C&A', 'Puma'),
 {'nombre': 'Jonathan', 'edad': 27},
 9.41]

#### Ejercicio 2. 

Para resolver este ejercicio necesitarás la lista del ejercicio anterior (`lista_examen`). Se recomeinda leer cada punto hasta el final antes de resolver el ejercicio.

Se repite para que quede aún más claro: **SOLO USAR LA VARIABLE** `lista_examen`. Usar las demás variables se calificará como error.  

1. Mostrar por pantalla, sin uso de funciones ni bucles: 
    - El segundo elemento de `lista_deseo` desde `lista_examen`.
    - El calzado que llevas puesto.
    - Vuestro nombre.
    - La hora almacenada concatenada con vuestra edad y el número de vuestro de DNI. No debe haber espacios entre la concatenación.
    - Si tenéis más de 20 años, el primer número de vuestro DNI es mayor a 7 y usas Mac, mostrar la posición 5 de `lista_examen`.

In [18]:
# El segundo elemento de lista_deseo desde lista_examen.
print(lista_examen[3][1:], '\n')

# El calzado que llevas puesto.
print(lista_examen[4][-1], '\n')

# Vuestro nombre.
print(lista_examen[5]['nombre'], '\n')

# La hora almacenada concatenada con vuestra edad y el número de vuestro de DNI. No debe haber espacios entre la concatenación.
print('{}{}{}\n'.format(str(lista_examen[-1]), str(lista_examen[5]['edad']), str(lista_examen[0])))

# Si tenéis más de 20 años, el primer número de vuestro DNI es mayor a 7 y usas Mac, mostrar la posición 5 de lista_examen.
if lista_examen[5]['edad'] > 20 and lista_examen[0] > 7 and lista_examen[2]:
    print(lista_examen[4])
else:
    print('not the case dude')

['cerillas', 'batamanta', 'cuerda']

Puma

Jonathan

9.41274

not the case dude

2. Mostrar por pantalla, con uso de un bucle `for`:
    - Todos los elementos de `lista_examen`.
    - Todos los elementos de `lista_deseo` desde `lista_examen`.
    - Todos los elementos que ocupen una posición menor a 4 en `lista_examen`.

In [25]:
# Todos los elementos de lista_examen.
for i in lista_examen:
    print(i)

print('\n', '---------', '\n')

# Todos los elementos de lista_deseo desde lista_examen.
for i in lista_examen[3]:
    print(i)

print('\n', '---------', '\n')

# Todos los elementos que ocupen una posición menor a 4 en lista_examen.
for i in range(4):
    print(lista_examen[i])

4
B
False
['cuchillo', 'cerillas', 'batamanta', 'cuerda']
('Puma', 'C&A', 'Puma')
{'nombre': 'Jonathan', 'edad': 27}
9.41

 ---------

cuchillo
cerillas
batamanta
cuerda

 ---------

4
B
False
['cuchillo', 'cerillas', 'batamanta', 'cuerda']

3. Mostrar por pantalla, con uso de un bucle while: 
    - Todos los elementos de `tupla_ropa` seguido de la cadena `"-->"` y la `posición` (int) que ocupa en la tupla accediendo desde `lista_examen`. Se aconseja utilizar *`enumerate`*.
    - Cada key de `dict_info` seguido de la cadena ":" seguido de su value desde `lista_examen`.

In [37]:
# Todos los elementos de tupla_ropa seguido de la cadena "-->" y la posición (int) que ocupa en la tupla accediendo desde lista_examen. Se aconseja utilizar enumerate.
count = 0

while count < len(lista_examen[4]):
    print(lista_examen[4][count])
    count += 1

print('\n', '---------', '\n')

# Cada key de dict_info seguido de la cadena ":" seguido de su value desde lista_examen.
len(lista_examen[5])

keys = list(lista_examen[5].keys())
count2 = 0

while count2 < len(keys):
    # lista_examen[5] -> dict
    # keys -> where I've stored the keys and can access them through index
    # count2 -> index to access the keys and stop the loop
    print(lista_examen[5][keys[count2]])
    count2 += 1

Puma
C&A
Puma

 ---------

Jonathan
27

#### Ejercicio 3. 

Crea una función `ejercicio_3` que reciba un parámetro `arg1`. Este argumento se utilizará como la lista de tuplas con nombres de los alumnos y alturas de clase. La función ha de retornar la misma lista de tuplas pero sin la tupla que contiene tu nombre. La tupla que contiene tu nombre ha de encontrarse a través del **valor del String** con tu nombre. Es decir, la función borrará la tupla con tu nombre tanto si está en la primera posición, como en la posición N o la última. La función mostrará por pantalla la tupla modificada.

**Notas:** 

*- La lista de nombres y alturas está al final del notebook*

*- Añade la tupla con tu nombre y altura si no apareces en la lista* 

Ejemplos de llamada a la función y lo que devuelve la función en el caso en el que me llamo 'Manuel Alfonso' y con esta 'lista_nombres_alturas':

In [7]:
# NO EJECUTAR ESTA CELDA
lista_nombres_alturas = [("Manuel Alfonso", 1.75),("Jonathan Abbondanza",  1.70),("Nacho Fontal", 1.82)]
ejercicio_3(arg1=lista_nombres_alturas)

[('Jonathan Abbondanza', 1.7), ('Nacho Fontal', 1.82)]

In [9]:
# NO EJECUTAR ESTA CELDA
lista_nombres_alturas = [("Jonathan Abbondanza",  1.70),("Manuel Alfonso", 1.75),("Nacho Fontal", 1.82)]
ejercicio_3(arg1=lista_nombres_alturas)

[('Jonathan Abbondanza', 1.7), ('Nacho Fontal', 1.82)]

In [82]:
# tu respuesta aquí
def ejercicio_3(tupla):
    try:
        to_delete = None

        for i, x in enumerate(lista_nombres_alturas):
            if x[0] == 'Jonathan Suarez':
                to_delete = i

        lista_nombres_alturas.pop(to_delete)
        to_delete = None
        return lista_nombres_alturas

    except:
        print('Name is not in the list')


ejercicio_3(lista_nombres_alturas)

[('Gabriel Vázquez', 1.75),
 ('Jonathan Abbondanza', 1.7),
 ('Nacho Fontal', 1.82),
 ('Javier Araiz', 1.8),
 ('Sonia Cobo', 1.73),
 ('Jorge García', 1.79),
 ('Mary Meza', 1.52),
 ('Leonardo Frazzetto', 1.75),
 ('Nacho Astorga', 1.78),
 ('José Carlos Batista', 1.7),
 ('Isabel Palomares', 1.78),
 ('Marina Serrano', 1.54),
 ('Daniel Walker', 1.87),
 ('Clara Piniella', 1.66),
 ('Gina Garrido', 1.63),
 ('Adrià Gallardo', 1.7),
 ('María García-Maroto', 1.64),
 ('Susana Vázquez', 1.8),
 ('Mauro Garcia-Oliva', 1.77),
 ('Juan Bayon', 1.64),
 ('Miguel Barquero', 1.85),
 ('Borja Puig', 1.82),
 ('Pablo Martínez', 1.81),
 ('Xinru Yang', 1.6),
 ('Pablo Díez', 1.84),
 ('Karina Inche', 1.61)]

-------------------------------------

#### Ejercicio 4. 

Escribe una función `reverse_number` que reciba dos parámetros. Los parámetros son `cadena` y `n`. `cadena` será un string y `n` un entero. La función debe retornar un string que sea el string `cadena` al revés y que tenga concatenado el número `n` por cada caracter de `cadena`.  


**No se permite:**
- Usar la función built-in `reverse`
- Pasar el string `cadena` a otro tipo de variable (como list)* 
- Usar el `string slicing` [[::-1]]

Ejemplos de llamada a la función y lo que devuelve la función:

--------

>> print(reverse_number(cadena="aloh", n=3))

>>> h3o3l3a3

--------

>> print(reverse_number(cadena="otipep", n=85))

>>> p85e85p85i85t85o85

In [89]:
def reverse_number(s, n):
    # count for the while
    count = 0
    # count for the slicing
    reverse_count = -1
    # list to append the characters + number
    new_string = []

    while count < len(s):
        new_string.append(s[reverse_count] + str(n))
        reverse_count -= 1
        count += 1

    # Final merging of all the list elements
    new_string = ''.join(new_string)
    return new_string

In [91]:
# Testing
test_string = ['aloh', 'soida', 'amam', 'atsifargolafecneortcelE']
test_num = [4, 5, 775, 32]

for i in range(len(test_string)):
    print(reverse_number(test_string[i], test_num[i]))

h4o4l4a4
a5d5i5o5s5
m775a775m775a775
E32l32e32c32t32r32o32e32n32c32e32f32a32l32o32g32r32a32f32i32s32t32a32

#### Ejercicio 5:
 Crea una función `ejercicio_5` que reciba dos parámetros `arg1` y `arg2`. `arg1` es la misma lista de tuplas con los nombres y alturas que la del ejercicio 3 y `arg2` representa un nombre. 
Crea un programa que pida al usuario *indefinidamente* un nombre y, cada vez que lo introduzca, intente borrar de `arg1` la tupla con el nombre introducido usando la función `ejercicio_5`:

1. Si existe el nombre `arg2` dentro de la `arg1` la función mostrará por pantalla la tupla modificada

2. Si el nombre `arg2` no está en la lista `arg1` la función mostrará por pantalla el string "Ese 
nombre no está dentro de la lista"

3. Solo en el caso en el que el usuario escriba la palabra *'STOP'* se parará el programa.

**Notas:** 

*- La lista de nombres y alturas está al final del notebook*

*- Añade la tupla con tu nombre y altura si no apareces en la lista*

In [4]:
# tu respuesta aquí
def ejercicio_5(l, name):
    try:
        to_delete = None

        for i, x in enumerate(l):
            if x[0] == name:
                to_delete = i

        l.pop(to_delete)
        to_delete = None
        return l

    except:
        print('Name is not in the list')

In [107]:
# Testing
test = [("Gabriel Vázquez", 1.75),("Jonathan Abbondanza",  1.70),("Nacho Fontal", 1.82)]
ejercicio_5(test, 'Gabriel Vázquez')

[('Jonathan Abbondanza', 1.7), ('Nacho Fontal', 1.82)]

In [5]:
word = input('Enter the name to be deleted. To stop deleting names, please enter STOP')


while word != 'STOP':
    print(ejercicio_5(lista_nombres_alturas, word), '\n------------\n')
    word = input('Enter the name')

[('Jonathan Abbondanza', 1.7), ('Nacho Fontal', 1.82), ('Javier Araiz', 1.8), ('Jonathan Suarez', 1.86), ('Sonia Cobo', 1.73), ('Jorge García', 1.79), ('Mary Meza', 1.52), ('Leonardo Frazzetto', 1.75), ('Nacho Astorga', 1.78), ('José Carlos Batista', 1.7), ('Isabel Palomares', 1.78), ('Marina Serrano', 1.54), ('Daniel Walker', 1.87), ('Clara Piniella', 1.66), ('Gina Garrido', 1.63), ('Adrià Gallardo', 1.7), ('María García-Maroto', 1.64), ('Susana Vázquez', 1.8), ('Mauro Garcia-Oliva', 1.77), ('Juan Bayon', 1.64), ('Miguel Barquero', 1.85), ('Borja Puig', 1.82), ('Pablo Martínez', 1.81), ('Xinru Yang', 1.6), ('Pablo Díez', 1.84), ('Karina Inche', 1.61)]
------------

[('Nacho Fontal', 1.82), ('Javier Araiz', 1.8), ('Jonathan Suarez', 1.86), ('Sonia Cobo', 1.73), ('Jorge García', 1.79), ('Mary Meza', 1.52), ('Leonardo Frazzetto', 1.75), ('Nacho Astorga', 1.78), ('José Carlos Batista', 1.7), ('Isabel Palomares', 1.78), ('Marina Serrano', 1.54), ('Daniel Walker', 1.87), ('Clara Piniella', 1.66), ('Gina Garrido', 1.63), ('Adrià Gallardo', 1.7), ('María García-Maroto', 1.64), ('Susana Vázquez', 1.8), ('Mauro Garcia-Oliva', 1.77), ('Juan Bayon', 1.64), ('Miguel Barquero', 1.85), ('Borja Puig', 1.82), ('Pablo Martínez', 1.81), ('Xinru Yang', 1.6), ('Pablo Díez', 1.84), ('Karina Inche', 1.61)]
------------

[('Nacho Fontal', 1.82), ('Javier Araiz', 1.8), ('Jonathan Suarez', 1.86), ('Sonia Cobo', 1.73), ('Jorge García', 1.79), ('Mary Meza', 1.52), ('Leonardo Frazzetto', 1.75), ('Nacho Astorga', 1.78), ('José Carlos Batista', 1.7), ('Isabel Palomares', 1.78), ('Marina Serrano', 1.54), ('Daniel Walker', 1.87), ('Clara Piniella', 1.66), ('Gina Garrido', 1.63), ('Adrià Gallardo', 1.7), ('María García-Maroto', 1.64), ('Susana Vázquez', 1.8), ('Mauro Garcia-Oliva', 1.77), ('Juan Bayon', 1.64), ('Miguel Barquero', 1.85), ('Borja Puig', 1.82), ('Pablo Martínez', 1.81), ('Xinru Yang', 1.6), ('Pablo Díez', 1.84)]
------------

In [2]:
# La lista a usar del ejercicio 3 y 5. Recuerda añadir la tupla con tu información si no está. 

lista_nombres_alturas = [("Gabriel Vázquez", 1.75),("Jonathan Abbondanza",  1.70),("Nacho Fontal", 1.82),("Javier Araiz", 1.80),('Jonathan Suarez', 1.86),('Sonia Cobo', 1.73), ('Jorge García', 1.79), ("Mary Meza", 1.52), ('Leonardo Frazzetto', 1.75), ("Nacho Astorga",1.78),("José Carlos Batista",1.70), ("Isabel Palomares", 1.78),("Marina Serrano", 1.54), ("Daniel Walker", 1.87), ("Clara Piniella", 1.66), ("Gina Garrido", 1.63), ("Adrià Gallardo", 1.70), ("María García-Maroto", 1.64), ("Susana Vázquez",1.80), ("Mauro Garcia-Oliva", 1.77), ("Juan Bayon", 1.64), ("Miguel Barquero", 1.85), ("Borja Puig", 1.82), ("Pablo Martínez", 1.81), ("Xinru Yang", 1.60),("Pablo Díez", 1.84),("Karina Inche",1.61)]

lista_nombres_alturas

[('Gabriel Vázquez', 1.75),
 ('Jonathan Abbondanza', 1.7),
 ('Nacho Fontal', 1.82),
 ('Javier Araiz', 1.8),
 ('Jonathan Suarez', 1.86),
 ('Sonia Cobo', 1.73),
 ('Jorge García', 1.79),
 ('Mary Meza', 1.52),
 ('Leonardo Frazzetto', 1.75),
 ('Nacho Astorga', 1.78),
 ('José Carlos Batista', 1.7),
 ('Isabel Palomares', 1.78),
 ('Marina Serrano', 1.54),
 ('Daniel Walker', 1.87),
 ('Clara Piniella', 1.66),
 ('Gina Garrido', 1.63),
 ('Adrià Gallardo', 1.7),
 ('María García-Maroto', 1.64),
 ('Susana Vázquez', 1.8),
 ('Mauro Garcia-Oliva', 1.77),
 ('Juan Bayon', 1.64),
 ('Miguel Barquero', 1.85),
 ('Borja Puig', 1.82),
 ('Pablo Martínez', 1.81),
 ('Xinru Yang', 1.6),
 ('Pablo Díez', 1.84),
 ('Karina Inche', 1.61)]