In [5]:
import streamlit as st

import numpy as np
import pandas as pd

#import plotly.plotly as py
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.figure_factory as ff

import requests
import webbrowser

import sys
import os

# Helpers
abspath = os.path.abspath
dirname = os.path.dirname
sep = os.sep

# Path modification
current_folder = dirname(abspath(os.getcwd()))
for i in range(0): current_folder = dirname(abspath(current_folder))
sys.path.append(current_folder)

# Self-made packages
import utils.mining_data_tb as md
import utils.visualization_tb as vi
import utils.folder_tb as fo

In [9]:
vardata_downpath = "data" + sep + "6_variables" + sep + "0_final_variables.csv"
vardata = md.variables_data()
vardata.load_data(2, vardata_downpath)
variables_df = vardata.df.iloc[:, [0, 1, -2]]

In [29]:
data1 = variables_df[variables_df.component == "Demographics"]
data2 = variables_df[variables_df.component == "Dietary"]

In [30]:
data.append(data2)

     vAr_nAmE                                          var_descr     component
id
28   RIAGENDR                         Gender of the participant.  Demographics
0    AIALANGA     Language of the MEC ACASI Interview Instrument  Demographics
1    DMDBORN4            In what country {were you/was SP} born?  Demographics
2    DMDCITZN  {Are you/Is SP} a citizen of the United States...  Demographics
3    DMDEDUC2  What is the highest grade or level of school {...  Demographics
..        ...                                                ...           ...
739    DSQIVD                          Vitamin D (D2 + D3) (mcg)       Dietary
740    DSQIVK                                    Vitamin K (mcg)       Dietary
741  DSQIZINC                                          Zinc (mg)       Dietary
742   RXQ215A  Did you take {PRODUCT NAME} as an antacid, as ...       Dietary
743      SEQN                        Respondent sequence number.       Dietary

[791 rows x 3 columns]

In [49]:
variables_df[variables_df.vAr_nAmE.isin(list(raw_dataset.columns))]

,vAr_nAmE,var_descr,component
id,,,
28,RIAGENDR,Gender of the participant.,Demographics
0,AIALANGA,Language of the MEC ACASI Interview Instrument,Demographics
1,DMDBORN4,In what country {were you/was SP} born?,Demographics
2,DMDCITZN,{Are you/Is SP} a citizen of the United States...,Demographics
3,DMDEDUC2,What is the highest grade or level of school {...,Demographics
...,...,...,...
1002,SEQN,Respondent sequence number.,Questionnaire
1003,SEQN,Respondent sequence number.,Questionnaire
1057,SEQN,Respondent sequence number.,Questionnaire
1067,SEQN,Respondent sequence number.,Questionnaire
1068,SEQN,Respondent sequence number.,Questionnaire

In [31]:
raw_dataset_path = fo.path_to_folder(2, "data" + sep + "7_cleaned_data") + "raw_data.csv"
raw_dataset = pd.read_csv(raw_dataset_path)

In [50]:
raw_dataset.loc[:, ['MCQ010', 'DR1TCALC', 'DR1TFA']]

       MCQ010  DR1TCALC  DR1TFA
0         2.0     623.0   163.0
1         2.0     594.0   112.0
2         1.0     872.0    65.0
3         2.0    1284.0    63.0
4         1.0      72.0     6.0
...       ...       ...     ...
29280     2.0     831.0     5.0
29281     1.0    1574.0   260.0
29282     2.0     946.0   371.0
29283     2.0     951.0   297.0
29284     2.0     250.0     0.0

[29285 rows x 3 columns]