In [12]:
import pandas as pd
import numpy as np

import sys
import os

root_folder = os.path.dirname(os.getcwd())
sys.path.append(root_folder)

import src.utils.mining_data_tb as md
import src.utils.visualization_tb as vis

In [14]:
df = pd.read_csv("../data/daily_intakes.csv")
df

    gender  age                                                url
0   female   20  https://www.eatforhealth.gov.au/node/1813927/d...
1   female   30  https://www.eatforhealth.gov.au/node/1813927/d...
2   female   40  https://www.eatforhealth.gov.au/node/1813927/d...
3   female   50  https://www.eatforhealth.gov.au/node/1813927/d...
4   female   60  https://www.eatforhealth.gov.au/node/1813927/d...
5   female   70  https://www.eatforhealth.gov.au/node/1813927/d...
6     male   20  https://www.eatforhealth.gov.au/node/1813927/d...
7     male   30  https://www.eatforhealth.gov.au/node/1813927/d...
8     male   40  https://www.eatforhealth.gov.au/node/1813927/d...
9     male   50  https://www.eatforhealth.gov.au/node/1813927/d...
10    male   60  https://www.eatforhealth.gov.au/node/1813927/d...
11    male   70  https://www.eatforhealth.gov.au/node/1813927/d...

In [22]:
gender = "male"
age = 50
df[(df["gender"] == gender) & (df["age"] == age)]["url"].values[0]

'https://www.eatforhealth.gov.au/node/1813927/done?sid=812360&token=2b711c45e17d9d4e879b8bbc9642f323'

In [23]:
def get_dailyintake_data():
    df_path = "../data/daily_intakes.csv"
    df = pd.read_csv(df_path)
    return df

In [24]:
get_dailyintake_data()

    gender  age                                                url
0   female   20  https://www.eatforhealth.gov.au/node/1813927/d...
1   female   30  https://www.eatforhealth.gov.au/node/1813927/d...
2   female   40  https://www.eatforhealth.gov.au/node/1813927/d...
3   female   50  https://www.eatforhealth.gov.au/node/1813927/d...
4   female   60  https://www.eatforhealth.gov.au/node/1813927/d...
5   female   70  https://www.eatforhealth.gov.au/node/1813927/d...
6     male   20  https://www.eatforhealth.gov.au/node/1813927/d...
7     male   30  https://www.eatforhealth.gov.au/node/1813927/d...
8     male   40  https://www.eatforhealth.gov.au/node/1813927/d...
9     male   50  https://www.eatforhealth.gov.au/node/1813927/d...
10    male   60  https://www.eatforhealth.gov.au/node/1813927/d...
11    male   70  https://www.eatforhealth.gov.au/node/1813927/d...

In [25]:
def pick_di(gender, age, df):
    url = df[(df["gender"] == gender) & (df["age"] == age)]["url"].values[0]
    return url

In [26]:
pick_di(gender, age, df)

'https://www.eatforhealth.gov.au/node/1813927/done?sid=812360&token=2b711c45e17d9d4e879b8bbc9642f323'