In [47]:
import pandas as pd
import numpy as np
from varname import nameof

import matplotlib.pyplot as plt
import seaborn as sns

import requests
from bs4 import BeautifulSoup
import html
import lxml

In [4]:
diet = pd.read_csv("../data/Health/diet.csv")
diet.head()

,SEQN,WTDRD1,WTDR2D,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,DR1LANG,...,DRD370QQ,DRD370R,DRD370RQ,DRD370S,DRD370SQ,DRD370T,DRD370TQ,DRD370U,DRD370UQ,DRD370V
0,73557,16888.327864,12930.890649,1,49.0,2.0,2.0,6.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,73558,17932.143865,12684.148869,1,59.0,2.0,2.0,4.0,1.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
2,73559,59641.812930,39394.236709,1,49.0,2.0,2.0,18.0,6.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,73560,142203.069917,125966.366442,1,54.0,2.0,2.0,21.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73561,59052.357033,39004.892993,1,63.0,2.0,2.0,18.0,1.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0

In [5]:
diet.shape

(9813, 168)

In [7]:
descriptions = pd.read_excel("../data/Health/NAHNES 2014 Dictionary.xlsx")
descriptions[descriptions["Variable Name"] == "SEQN"].iloc[0][1]

'Respondent sequence number.'

In [8]:
descriptions_dict = {}

for column_name in diet.columns:
    try:
        descriptions_dict[column_name] = descriptions[descriptions["Variable Name"] == column_name].iloc[0][1]
    except:
        descriptions_dict[column_name] = None


#pd.Series(descriptions_dict).to_csv("../data/Health/cleaned_column_names.csv")

In [10]:
#for column_name in diet.columns:
#    
#    try:
#        name = descriptions[descriptions["Variable Name"] == column_name].iloc[0][1]
#        print(f"{column_name} : {name}")
#    except:
#        print(f"{column_name} : {None}")

In [25]:
diet[["WTDRD1", "WTDR2D"]].isna().sum()

WTDRD1       0
WTDR2D    1152
dtype: int64

In [19]:
type_of_diet = ["DRQSDT1", "DRQSDT2", "DRQSDT3", "DRQSDT4", "DRQSDT5", "DRQSDT6", "DRQSDT7", "DRQSDT8", "DRQSDT9", "DRQSDT10", "DRQSDT11", "DRQSDT12", "DRQSDT91"]

for i in type_of_diet:
    print(f"For column {i} missing values: {diet[i].isna().sum()} out ot 9813")

For column DRQSDT1 missing values: 9290 out ot 9813
For column DRQSDT2 missing values: 9682 out ot 9813
For column DRQSDT3 missing values: 9692 out ot 9813
For column DRQSDT4 missing values: 9776 out ot 9813
For column DRQSDT5 missing values: 9813 out ot 9813
For column DRQSDT6 missing values: 9809 out ot 9813
For column DRQSDT7 missing values: 9667 out ot 9813
For column DRQSDT8 missing values: 9779 out ot 9813
For column DRQSDT9 missing values: 9746 out ot 9813
For column DRQSDT10 missing values: 9791 out ot 9813
For column DRQSDT11 missing values: 9782 out ot 9813
For column DRQSDT12 missing values: 9805 out ot 9813
For column DRQSDT91 missing values: 9738 out ot 9813

In [34]:
test = dict(diet.isna().sum())

for ind, missings in test.items():
    print(f"Column {ind} has {missings} missing values")

Column SEQN has 0 missing values
Column WTDRD1 has 0 missing values
Column WTDR2D has 1152 missing values
Column DR1DRSTZ has 0 missing values
Column DR1EXMER has 1030 missing values
Column DRABF has 1152 missing values
Column DRDINT has 1152 missing values
Column DR1DBIH has 1107 missing values
Column DR1DAY has 1030 missing values
Column DR1LANG has 1016 missing values
Column DR1MNRSP has 1160 missing values
Column DR1HELPD has 1185 missing values
Column DBQ095Z has 1030 missing values
Column DBD100 has 4414 missing values
Column DRQSPREP has 1030 missing values
Column DR1STY has 1030 missing values
Column DR1SKY has 8365 missing values
Column DRQSDIET has 1030 missing values
Column DRQSDT1 has 9290 missing values
Column DRQSDT2 has 9682 missing values
Column DRQSDT3 has 9692 missing values
Column DRQSDT4 has 9776 missing values
Column DRQSDT5 has 9813 missing values
Column DRQSDT6 has 9809 missing values
Column DRQSDT7 has 9667 missing values
Column DRQSDT8 has 9779 missing values
Column DRQSDT9 has 9746 missing values
Column DRQSDT10 has 9791 missing values
Column DRQSDT11 has 9782 missing values
Column DRQSDT12 has 9805 missing values
Column DRQSDT91 has 9738 missing values
Column DR1TNUMF has 1152 missing values
Column DR1TKCAL has 1282 missing values
Column DR1TPROT has 1282 missing values
Column DR1TCARB has 1282 missing values
Column DR1TSUGR has 1282 missing values
Column DR1TFIBE has 1282 missing values
Column DR1TTFAT has 1282 missing values
Column DR1TSFAT has 1282 missing values
Column DR1TMFAT has 1282 missing values
Column DR1TPFAT has 1282 missing values
Column DR1TCHOL has 1282 missing values
Column DR1TATOC has 1282 missing values
Column DR1TATOA has 1282 missing values
Column DR1TRET has 1282 missing values
Column DR1TVARA has 1282 missing values
Column DR1TACAR has 1282 missing values
Column DR1TBCAR has 1282 missing values
Column DR1TCRYP has 1282 missing values
Column DR1TLYCO has 1282 missing values
Column DR1TLZ has 1282 missing values
Column DR1TVB1 has 1282 missing values
Column DR1TVB2 has 1282 missing values
Column DR1TNIAC has 1282 missing values
Column DR1TVB6 has 1282 missing values
Column DR1TFOLA has 1282 missing values
Column DR1TFA has 1282 missing values
Column DR1TFF has 1282 missing values
Column DR1TFDFE has 1282 missing values
Column DR1TCHL has 1282 missing values
Column DR1TVB12 has 1282 missing values
Column DR1TB12A has 1282 missing values
Column DR1TVC has 1282 missing values
Column DR1TVD has 1282 missing values
Column DR1TVK has 1282 missing values
Column DR1TCALC has 1282 missing values
Column DR1TPHOS has 1282 missing values
Column DR1TMAGN has 1282 missing values
Column DR1TIRON has 1282 missing values
Column DR1TZINC has 1282 missing values
Column DR1TCOPP has 1282 missing values
Column DR1TSODI has 1282 missing values
Column DR1TPOTA has 1282 missing values
Column DR1TSELE has 1282 missing values
Column DR1TCAFF has 1282 missing values
Column DR1TTHEO has 1282 missing values
Column DR1TALCO has 1282 missing values
Column DR1TMOIS has 1282 missing values
Column DR1TS040 has 1282 missing values
Column DR1TS060 has 1282 missing values
Column DR1TS080 has 1282 missing values
Column DR1TS100 has 1282 missing values
Column DR1TS120 has 1282 missing values
Column DR1TS140 has 1282 missing values
Column DR1TS160 has 1282 missing values
Column DR1TS180 has 1282 missing values
Column DR1TM161 has 1282 missing values
Column DR1TM181 has 1282 missing values
Column DR1TM201 has 1282 missing values
Column DR1TM221 has 1282 missing values
Column DR1TP182 has 1282 missing values
Column DR1TP183 has 1282 missing values
Column DR1TP184 has 1282 missing values
Column DR1TP204 has 1282 missing values
Column DR1TP205 has 1282 missing values
Column DR1TP225 has 1282 missing values
Column DR1TP226 has 1282 missing values
Column DR1.300 has 1030 missing values
Column DR1.320Z has 1152 missing values
Column DR1.330Z has 1152 missing values
Column DR1BWATZ has 1152 missing values
Column DR1TWS has 1030 missing values
Column DRD340 has 1401 missing values
Column DRD350A has 6052 missing values
Column DRD350AQ has 9385 missing values
Column DRD350B has 6052 missing values
Column DRD350BQ has 9028 missing values
Column DRD350C has 6052 missing values
Column DRD350CQ has 9614 missing values
Column DRD350D has 6052 missing values
Column DRD350DQ has 9401 missing values
Column DRD350E has 6052 missing values
Column DRD350EQ has 9558 missing values
Column DRD350F has 6052 missing values
Column DRD350FQ has 9525 missing values
Column DRD350G has 6052 missing values
Column DRD350GQ has 9460 missing values
Column DRD350H has 6052 missing values
Column DRD350HQ has 6559 missing values
Column DRD350I has 6052 missing values
Column DRD350IQ has 9593 missing values
Column DRD350J has 6052 missing values
Column DRD350JQ has 9797 missing values
Column DRD350K has 6053 missing values
Column DRD360 has 1402 missing values
Column DRD370A has 4692 missing values
Column DRD370AQ has 9167 missing values
Column DRD370B has 4692 missing values
Column DRD370BQ has 7923 missing values
Column DRD370C has 4692 missing values
Column DRD370CQ has 9695 missing values
Column DRD370D has 4692 missing values
Column DRD370DQ has 8986 missing values
Column DRD370E has 4692 missing values
Column DRD370EQ has 9254 missing values
Column DRD370F has 4692 missing values
Column DRD370FQ has 9556 missing values
Column DRD370G has 4692 missing values
Column DRD370GQ has 9621 missing values
Column DRD370H has 4692 missing values
Column DRD370HQ has 9717 missing values
Column DRD370I has 4692 missing values
Column DRD370IQ has 9705 missing values
Column DRD370J has 4692 missing values
Column DRD370JQ has 9801 missing values
Column DRD370K has 4692 missing values
Column DRD370KQ has 9666 missing values
Column DRD370L has 4692 missing values
Column DRD370LQ has 9778 missing values
Column DRD370M has 4692 missing values
Column DRD370MQ has 8039 missing values
Column DRD370N has 4692 missing values
Column DRD370NQ has 9598 missing values
Column DRD370O has 4692 missing values
Column DRD370OQ has 9726 missing values
Column DRD370P has 4692 missing values
Column DRD370PQ has 9803 missing values
Column DRD370Q has 4692 missing values
Column DRD370QQ has 9752 missing values
Column DRD370R has 4692 missing values
Column DRD370RQ has 9642 missing values
Column DRD370S has 4692 missing values
Column DRD370SQ has 9786 missing values
Column DRD370T has 4692 missing values
Column DRD370TQ has 8495 missing values
Column DRD370U has 4692 missing values
Column DRD370UQ has 9496 missing values
Column DRD370V has 4693 missing values

In [37]:
diet2 = pd.DataFrame(index = diet.index)

for column in diet.columns:
    missings = diet[column].isna().sum()
    if missings < 5000:
        diet2[column] = diet[column]

In [40]:
diet2["DR1TPROT"]

0        43.63
1       338.13
2        64.61
3        77.75
4        55.24
         ...
9808    223.32
9809     47.55
9810     89.37
9811       NaN
9812     96.06
Name: DR1TPROT, Length: 9813, dtype: float64

In [42]:
df_path = "../data/Health/"

demographic = pd.read_csv(df_path + "demographic.csv")
diet = pd.read_csv(df_path + "diet.csv")
examination = pd.read_csv(df_path + "examination.csv")
labs = pd.read_csv(df_path + "labs.csv")
medications = pd.read_csv(df_path + "medications.csv")
questionnaire = pd.read_csv(df_path + "questionnaire.csv")

datasets = [demographic, diet, examination, labs, medications, questionnaire]

In [65]:
medications.head()

,SEQN,RXDUSE,RXDDRUG,RXDDRGID,RXQSEEN,RXDDAYS,RXDRSC1,RXDRSC2,RXDRSC3,RXDRSD1,RXDRSD2,RXDRSD3,RXDCOUNT
0,73557,1,99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
1,73557,1,INSULIN,d00262,2.0,1460.0,E11,NaN,NaN,Type 2 diabetes mellitus,NaN,NaN,2.0
2,73558,1,GABAPENTIN,d03182,1.0,243.0,G25.81,NaN,NaN,Restless legs syndrome,NaN,NaN,4.0
3,73558,1,INSULIN GLARGINE,d04538,1.0,365.0,E11,NaN,NaN,Type 2 diabetes mellitus,NaN,NaN,4.0
4,73558,1,OLMESARTAN,d04801,1.0,14.0,E11.2,NaN,NaN,Type 2 diabetes mellitus with kidney complicat...,NaN,NaN,4.0

In [49]:
for dataset in datasets:
    print(f"{dataset.shape}")

(10175, 47)
(9813, 168)
(9813, 224)
(9813, 424)
(20194, 13)
(10175, 953)

In [64]:
full_df = pd.merge(demographic, diet, how = "outer", on = "SEQN")
full_df = pd.merge(full_df, examination, how = "outer", on = "SEQN")
full_df = pd.merge(full_df, labs, how = "outer", on = "SEQN")
#full_df = pd.merge(full_df, medications, how = "outer", on = "SEQN")           # This one doesn't match correctly on SEQN, so I'll leave it out as it is not interesting for me anyway
full_df = pd.merge(full_df, questionnaire, how = "outer", on = "SEQN")

full_df.shape

(10175, 1812)

In [66]:
descriptions = pd.read_excel("../data/Health/NAHNES 2014 Dictionary.xlsx")
descriptions

     Variable Name                               Variable Description
0             SEQN                        Respondent sequence number.
1         RIDSTATR  Interview and examination status of the partic...
2         RIAGENDR                         Gender of the participant.
3         RIDAGEYR  Age in years of the participant at the time of...
4         RIDAGEMN  Age in months of the participant at the time o...
...            ...                                                ...
5378        SXQ280              Are you circumcised or uncircumcised?
5379          SEQN                        Respondent sequence number.
5380       URXUTRI                                 Trichomonas, urine
5381          SEQN                         Respondent sequence number
5382        URXUCL                                  Urinary Chlamydia

[5383 rows x 2 columns]

In [68]:
descriptions_dict = {}

for column_name in full_df.columns:
    try:
        descriptions_dict[column_name] = descriptions[descriptions["Variable Name"] == column_name].iloc[0][1]
    except:
        descriptions_dict[column_name] = None


pd.Series(descriptions_dict).to_csv("../data/Health/cleaned_column_names.csv")

In [75]:
final_columns_df = pd.read_csv("../data/Health/final_column_names.csv")
final_columns = final_columns_df["column"]
final_columns.values

array(['SEQN', 'RIAGENDR', 'RIDAGEYR', 'WTDRD1', 'WTDR2D', 'DR1TNUMF',
       'DR1TKCAL', 'DR1TPROT', 'DR1TCARB', 'DR1TSUGR', 'DR1TFIBE',
       'DR1TTFAT', 'DR1TSFAT', 'DR1TMFAT', 'DR1TPFAT', 'DR1TCHOL',
       'DR1TATOC', 'DR1TVARA', 'DR1TVB6', 'DR1TFOLA', 'DR1TFA', 'DR1TCHL',
       'DR1TVB12', 'DR1TVC', 'DR1TVD', 'DR1TVK', 'DR1TCALC', 'DR1TPHOS',
       'DR1TMAGN', 'DR1TIRON', 'DR1TZINC', 'DR1TSODI', 'DR1TPOTA',
       'PEASCST1', 'BPXPTY', 'BMXWT', 'BMXBMI', 'CSQ190', 'CSQ200',
       'CSQ202', 'CSQ204', 'DID040', 'DIQ160', 'MCQ080', 'MCQ082',
       'OSQ060', 'PAQ610', 'PAD615', 'WHD110', 'WHD120'], dtype=object)

In [86]:
#Â After joining all the datasets and checking what columns I need/want, this is the result
final_df = full_df[final_columns.values]
final_df.head()

,SEQN,RIAGENDR,RIDAGEYR,WTDRD1,WTDR2D,DR1TNUMF,DR1TKCAL,DR1TPROT,DR1TCARB,DR1TSUGR,...,CSQ204,DID040,DIQ160,MCQ080,MCQ082,OSQ060,PAQ610,PAD615,WHD110,WHD120
0,73557,1,69,16888.327864,12930.890649,11.0,1574.0,43.63,239.59,176.47,...,2.0,62.0,NaN,1.0,2.0,2.0,NaN,NaN,270.0,200.0
1,73558,1,54,17932.143865,12684.148869,8.0,5062.0,338.13,423.78,44.99,...,2.0,23.0,NaN,2.0,2.0,2.0,NaN,NaN,240.0,250.0
2,73559,1,72,59641.812930,39394.236709,27.0,1743.0,64.61,224.39,102.90,...,2.0,57.0,NaN,2.0,2.0,1.0,NaN,NaN,180.0,190.0
3,73560,1,9,142203.069917,125966.366442,19.0,1490.0,77.75,162.92,80.58,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
4,73561,2,73,59052.357033,39004.892993,7.0,1421.0,55.24,178.20,87.78,...,2.0,NaN,2.0,2.0,2.0,2.0,NaN,NaN,150.0,135.0

In [87]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10175 entries, 0 to 10174
Data columns (total 50 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      10175 non-null  int64
 1   RIAGENDR  10175 non-null  int64
 2   RIDAGEYR  10175 non-null  int64
 3   WTDRD1    9813 non-null   float64
 4   WTDR2D    8661 non-null   float64
 5   DR1TNUMF  8661 non-null   float64
 6   DR1TKCAL  8531 non-null   float64
 7   DR1TPROT  8531 non-null   float64
 8   DR1TCARB  8531 non-null   float64
 9   DR1TSUGR  8531 non-null   float64
 10  DR1TFIBE  8531 non-null   float64
 11  DR1TTFAT  8531 non-null   float64
 12  DR1TSFAT  8531 non-null   float64
 13  DR1TMFAT  8531 non-null   float64
 14  DR1TPFAT  8531 non-null   float64
 15  DR1TCHOL  8531 non-null   float64
 16  DR1TATOC  8531 non-null   float64
 17  DR1TVARA  8531 non-null   float64
 18  DR1TVB6   8531 non-null   float64
 19  DR1TFOLA  8531 non-null   float64
 20  DR1TFA    8531 non-null   float64
 21  DR1TCHL   8531 non-null   float64
 22  DR1TVB12  8531 non-null   float64
 23  DR1TVC    8531 non-null   float64
 24  DR1TVD    8531 non-null   float64
 25  DR1TVK    8531 non-null   float64
 26  DR1TCALC  8531 non-null   float64
 27  DR1TPHOS  8531 non-null   float64
 28  DR1TMAGN  8531 non-null   float64
 29  DR1TIRON  8531 non-null   float64
 30  DR1TZINC  8531 non-null   float64
 31  DR1TSODI  8531 non-null   float64
 32  DR1TPOTA  8531 non-null   float64
 33  PEASCST1  9813 non-null   float64
 34  BPXPTY    7564 non-null   float64
 35  BMXWT     9723 non-null   float64
 36  BMXBMI    9055 non-null   float64
 37  CSQ190    1686 non-null   float64
 38  CSQ200    3815 non-null   float64
 39  CSQ202    3815 non-null   float64
 40  CSQ204    3815 non-null   float64
 41  DID040    737 non-null    float64
 42  DIQ160    6287 non-null   float64
 43  MCQ080    6464 non-null   float64
 44  MCQ082    8572 non-null   float64
 45  OSQ060    3815 non-null   float64
 46  PAQ610    1172 non-null   float64
 47  PAD615    1168 non-null   float64
 48  WHD110    4179 non-null   float64
 49  WHD120    5024 non-null   float64
dtypes: float64(47), int64(3)
memory usage: 4.2 MB

In [96]:
f_df2 = pd.DataFrame(index = final_df.index)

for column in final_df.columns:
    if final_df[column].isna().sum() > 7000:
        f_df2[column] = final_df[column]

In [97]:
print(final_df.shape)
print(f_df2.shape)

(10175, 46)
(10175, 0)