# Python | day 6 | dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is unordered, changeable and does not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values:

```python
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
```

https://www.w3schools.com/python/python_dictionaries.asp

### Exercise 1. 

1. Create a dictionary with an integer 5 as the key and "val" as its value.

In [1]:
d1 = {5 : 'val'}

2. Create two lists: one that has 4 city names and another that has 4 landmarks in the city.

In [2]:
cities = ['New York', 'Berlin', 'Vancouver', 'Madrid']
landmarks = ['Central Park', 'Berlin Wall Memorial', 'Granville Island', 'El Retiro']

3. Create a dictionary where the cities contained in the first list are the **keys** and the landmarks are the **values**.
```python
#example
places = {"Malaga": "Gibralfaro", 
         "Madrid": "Templo de Debod",
         "Granada": "La Alcazaba",
         "Barcelona": "Sagrada Familia"}
```

In [3]:
places = {}

for i in range(len(cities)):
    places[cities[i]] = landmarks[i]

places

{'New York': 'Central Park',
 'Berlin': 'Berlin Wall Memorial',
 'Vancouver': 'Granville Island',
 'Madrid': 'El Retiro'}

4. Loop through the dictionary and print only the values of those keys starting with the letter **M**.

https://realpython.com/iterate-through-dictionary-python/

In [4]:
for k in places.keys():
    if k[0] == 'M':
        print(k)

Madrid

5. Create a function that receives two lists `list1` and `list2` by parameter and returns a dictionary with each element of `list1` as keys and the elements of `list2` as values. Call the function with the lists you have created before to return the same dictionary you've created in question 3.

In [6]:
def dict_creator(l1, l2):
    new_dict = {}

    for i in range(len(l1)):
        new_dict[l1[i]] = l2[i]
    
    return new_dict

In [7]:
dict_creator(cities, landmarks)

{'New York': 'Central Park',
 'Berlin': 'Berlin Wall Memorial',
 'Vancouver': 'Granville Island',
 'Madrid': 'El Retiro'}

### Exercise 2.

1. Create an empty dictionary called dog.

In [9]:
dog = {}

2. Add name, color, breed, legs, age to the dog dictionary.

In [13]:
dog_keys = ['name', 'breed', 'legs', 'age']
dog_values = ['Flasi', 'Shih Tzu', 4, 10]

dog = dict(zip(dog_keys, dog_values))
dog

{'name': 'Flasi', 'breed': 'Shih Tzu', 'legs': 4, 'age': 10}

3. Create a student dictionary and add first_name, last_name, age, skills, country, city and address as keys for the dictionary.

In [15]:
student_keys = ['fist_name', 'last_name', 'age', 'skills', 'country', 'city']
student_values = ['Jonathan', 'Suarez Caceres', 26, ['Passionated', 'Ambitious'], 'Spain', 'Madrid']

student = {student_keys[i] : student_values[i] for i in range(len(student_keys))}
student

{'fist_name': 'Jonathan',
 'last_name': 'Suarez Caceres',
 'age': 26,
 'skills': ['Passionated', 'Ambitious'],
 'country': 'Spain',
 'city': 'Madrid'}

4. Get the length of the student dictionary.

In [16]:
len(student)

6

5. Get the value of skills and check the data type, it should be a list.

In [17]:
type(student['skills'])

list

6. Modify the skills values by adding one or two skills.

In [19]:
student['skills'].append('Do-er')
student

{'fist_name': 'Jonathan',
 'last_name': 'Suarez Caceres',
 'age': 26,
 'skills': ['Passionated', 'Ambitious', 'Do-er'],
 'country': 'Spain',
 'city': 'Madrid'}

7. Get the dictionary keys as a list.

In [20]:
keys_list = list(student.keys())
keys_list

['fist_name', 'last_name', 'age', 'skills', 'country', 'city']

8. Get the dictionary values as a list.

In [21]:
values_list = list(student.values())
values_list

['Jonathan',
 'Suarez Caceres',
 26,
 ['Passionated', 'Ambitious', 'Do-er'],
 'Spain',
 'Madrid']

9. Change the dictionary to a list of tuples using `items()` method

In [22]:
t1 = [tuple(x) for x in student.items()]
t1

[('fist_name', 'Jonathan'),
 ('last_name', 'Suarez Caceres'),
 ('age', 26),
 ('skills', ['Passionated', 'Ambitious', 'Do-er']),
 ('country', 'Spain'),
 ('city', 'Madrid')]

10. Delete one of the items in the dictionary.

In [23]:
del student['city']
student

{'fist_name': 'Jonathan',
 'last_name': 'Suarez Caceres',
 'age': 26,
 'skills': ['Passionated', 'Ambitious', 'Do-er'],
 'country': 'Spain'}

### Bonus Track

**TÃ³mate un zumito a tu salud.**

!['daughter'](https://i.pinimg.com/originals/8f/35/28/8f35281e742e71be09697e7e6789b819.png)