# Python | day 1 | collections

Lists, tuples & sets

May help you https://www.w3schools.com/python/python_ref_list.asp

### Exercise 1.

1. Create:
    - a list type variable called **student_list** which contains the name of your classmates. 

Print the created list.

In [84]:

student_list = ['studentname' + str(i) for i in range(1,21)]
student_list

['studentname1',
 'studentname2',
 'studentname3',
 'studentname4',
 'studentname5',
 'studentname6',
 'studentname7',
 'studentname8',
 'studentname9',
 'studentname10',
 'studentname11',
 'studentname12',
 'studentname13',
 'studentname14',
 'studentname15',
 'studentname16',
 'studentname17',
 'studentname18',
 'studentname19',
 'studentname20']

### Exercise 2

1. Create an empty list, call it **empty_list**

In [85]:
empty_list = []

2. Create a list with 5 items, call it **my_list**

In [86]:
import numpy as np

my_list = np.random.random(5) * 100

3. Find the length of **my_list**

In [87]:
len(my_list)

5

4. Get the first item, the middle item and the last item of **my_list**

In [88]:
first_item, middle_item, last_item = [my_list[0], my_list[2], my_list[4]]
#Â Llamar el deseado
first_item

87.60748635709552

5. Declare:
    - a **name** variable and assign a value to it
    - a **age** variable and assign a value to it
    - a **height** variable and assign a value to it
    - a **country** variable and assign a value to it
    - a **python_version** variable and assign a value to it

In [89]:
name = 'Jonathan'
age = 26
height = 1.86
country = 'Spain'
python_version = '3.8.5'

6. Create a list called **mixed_data_types** with your name, age, height, country and python_version.

In [90]:
mixed_data_types = [name, age, height, country, python_version]

7. Declare a list variable named **it_companies** and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [91]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']


8. Print **it_companies** using print()

In [92]:
for i in it_companies:
    print(i)

Facebook
Google
Microsoft
Apple
IBM
Oracle
Amazon

9. Print the number of companies in the list

In [93]:
print(len(it_companies))

7

11. Print *Google*

In [94]:
it_companies[1]

'Google'

10. Print the first, middle and last company

In [95]:
print(it_companies[0])
print(it_companies[2])
print(it_companies[4])

Facebook
Microsoft
IBM

11. Assign a new value to the last element of the list

In [96]:
it_companies[-1] = 'LinkedIn'

12. Print the list after modifying one of the companies

In [97]:
it_companies

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'LinkedIn']

## Bonus track.

13. Add an IT company to **it_companies**

In [98]:
it_companies.append('Amazon')

14. Check if *Apple* exists in the **it_companies** list.

In [99]:
'Apple' in it_companies

True

15. Sort the list using `sort()` method

In [100]:
it_companies.sort()
it_companies

['Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'LinkedIn',
 'Microsoft',
 'Oracle']

16. Reverse the list in descending order using `reverse()` method

In [101]:
it_companies.reverse()
it_companies

['Oracle',
 'Microsoft',
 'LinkedIn',
 'IBM',
 'Google',
 'Facebook',
 'Apple',
 'Amazon']

17. Slice out the first 3 companies from the list

In [102]:
it_companies[:3]

['Oracle', 'Microsoft', 'LinkedIn']

18. Remove the last IT company from the list

In [103]:
it_companies.pop()
it_companies

['Oracle', 'Microsoft', 'LinkedIn', 'IBM', 'Google', 'Facebook', 'Apple']

19. Remove all IT companies from the list

In [108]:
while len(it_companies) > 0:
    it_companies.pop()

it_companies

[]

20. Join the following lists, and call the list **end**:

```python
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [111]:
front_end = [['HTML', 'CSS'], 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

end = front_end + back_end
end

[['HTML', 'CSS'], 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

21. From the **end** list print 'HTML'

In [112]:
end[0][0]

'HTML'

22. From the end list print the 'C' from the word 'CSS'

In [114]:
end[0][1][0]

'C'

### Exercise 3.

Do you know you can create tuples with only one element?

1. In the cell below, define a variable **tup** with a single element "T".

Hint: you need to add a comma (,) after the single element.

In [127]:
tup = ('T',)
tup

('T',)

2. Print the type of tup.
Make sure its type is correct (i.e. tuple instead of str).

In [119]:
type(tup)

tuple

3. Now try to append the following elements to **tup**.
Are you able to do it? Explain.

`"H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [128]:
to_add = ["H", "E", " ", "B", "R", "I", "D", "G", "E"]

tup = list(tup)
[tup.append(x) for x in to_add]
tup = tuple(tup)
tup

('T', 'H', 'E', ' ', 'B', 'R', 'I', 'D', 'G', 'E')

4. How about re-assign a new value to an existing tuple?

Re-assign the following elements to **tup**. 

Are you able to do it? Explain.


`"T", "H", "E", " ", "B", "R", "I", "D", "G", "E",`

In [129]:
tup = list(tup)
tup[3] = '_'
tup = tuple(tup)
tup

('T', 'H', 'E', '_', 'B', 'R', 'I', 'D', 'G', 'E')

### Exercise 4. 

1. Turn **lista_repes** into a *set* in order to get only the uniques values in the list, assing it to a variable called **my_set**

In [130]:
lista_repes = ["data", "data", "data", "science", "science", "python", "python", "diomedes", "diomedes", "diomedes", "diomedes", "clara", "gabriel", "gabriel", "gabriel"]

In [132]:
my_set = set(lista_repes)
my_set

{'clara', 'data', 'diomedes', 'gabriel', 'python', 'science'}

2. Try to print the first element of **my_set**

You did good if you get *TypeError: 'set' object is not subscriptable*.

In [133]:
my_set[0]

TypeError: 'set' object is not subscriptable

3. Turn **my_set** into a list, using the function `list()`. 

Can you print the first element now?

In [134]:
my_set = list(my_set)
my_set[0]

'science'