# Python | day 4 | for loop, functions (feat. basics & if/else)

### Exercise 0.1 - Python Basics

1. What do we use to make a line break in a print? And for a tab stop?

have a look ---> http://elclubdelautodidacta.es/wp/2012/04/python-capitulo-31-exprimiendo-la-funcion-print/

In [ ]:
#Â line break -> \n
#Â tab space -> \t

2. Make a converter from dollars to euros. You'll have to use input.

In [1]:
dollars = float(input('Enter the amount in dollars'))
euros = 0.84 * dollars
print('Here is the equivalent amount in euros: ' + str(euros))

Here is the equivalent amount in euros: 4.746

3. Declare two strings, one will be your first name and the other your last name. Declare your age in another variable. Print a sentence which include those variables, using ```f{}```. Wtf is that? check this out **-->** https://realpython.com/python-string-formatting/

In [3]:
first_name = 'Jonathan'
last_name = 'Suarez'
age = 27

print('My name is {} {} and I am {} years old'.format(first_name, last_name, age))

My name is Jonathan Suarez and I am 27 years old

4. Given the list `[4,7, -3]`, calculate its maximum, minimum and sum.

In [5]:
import numpy as np

array = np.array([4,7, -3])
print('Max:', np.max(array))
print('Min:', np.min(array))
print('Sum:', np.sum(array))

Max: 7
Min: -3
Sum: 8

5. Save the number `38.38276252728` to a variable called `number_dec` and round it to 5 decimal places.

In [6]:
number = 38.38276252728
rounded_num = round(number, 5)
rounded_num

38.38276

6. Declare a variable `phrase` with the value `"Born to be wild"` and make it uppercase, then lowercase, divide it by spaces, and finally, replace `"wild"` with `"Geek."`

In [11]:
phrase = 'Born to be wild'

upper = phrase.upper()
lower = phrase.lower()
l1 = phrase.split(' ')
new_phrase = phrase.replace('wild', 'Geek')
print(new_phrase)

Born to be Geek

7. Create a program where two inputs are collected, and the output of the program is a boolean which tell the user whether those inputs are the same or not.

In [13]:
a = input('Write something')
b = input('Write something else')

if a == b:
    print('ThEy ArE tHe SaMe')
else:
    print('ThEy ArE nOt ThE sAmE')

They are the same

### Exercise 0.2 - If/else

1. Create a decission tree using if/else sentences, to determine the price of the movies ticket. If the client's age is between 5 and 15 years, both included, the price will be 5, if she/he is retired and the movie is one of the `peliculas_discount`, the price is 4. In any other case, it will be 7 euros.

You should create the list of `peliculas_discount` with your favourites movies.

In [20]:
client_age = int(input('Enter your age: '))
ticket_price = 0

if client_age >= 5 and client_age < 16:
    ticket_price += 5
elif client_age > 65:
    ticket_price += 4
else:
    ticket_price += 7

print(ticket_price)

5

### Exercise 1 - For

1. You are witnessing an epic battle between two powerful sorcerers: Gandalf and Saruman. Each sorcerer has 10 spells of variable power in their mind and they are going to throw them one after the other. The winner of the duel will be the one who wins more of those clashes between spells. Spells are represented as a list of 10 integers whose value equals the power of the spell.

```python
gandalf = [10, 11, 13, 30, 22, 11, 10, 33, 22, 22]
saruman = [23, 66, 12, 43, 12, 10, 44, 23, 12, 17]
```

For example:

The first clash is won by Saruman: 10 against 23, wins 23
The second clash wins Saruman: 11 against 66, wins 66
etc.
You will create two variables, one for each sorcerer, where the sum of clashes won will be stored. Depending on which variable is greater at the end of the duel, you will show one of the following three results on the screen:
```
Gandalf wins
Saruman wins
Tie
```

In [41]:
gandalf = [10, 11, 13, 30, 22, 11, 10, 33, 22, 22]
saruman = [23, 66, 12, 43, 12, 10, 44, 23, 12, 17]

gandalf_wins = [gandalf[x] > saruman[x] for x in range(len(gandalf))]

if gandalf_wins.count(True) > gandalf_wins.count(False):
    print('Gandalf wins')
elif gandalf_wins.count(True) < gandalf_wins.count(False):
    print('Saruman wins')
else:
    print('Tie')

Gandalf wins

### Exercise 2 - Functions

1. Write a function program to sum up two given different numbers.

In [43]:
def sumar(a, b):
    return a + b

Call the function you've just defined to sum up: 
    - 5 and 6
    - -3 and 10
    - 99 and 789

In [45]:
l1 = [-5, -3, -99]
l2 = [6, 10, 789]

for i in range(3):
    print(sumar(l1[i], l2[i]))

1
7
690

### Bonus Track

2. Write a Python program to convert a tuple of characters into a string.

    - Sample tuple: `("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")`
    - Expected output : `"THE BRIDGE"`
    
Hint: Turn it into a list.

In [48]:
t = ("T", "H", "E", " ", "B", "R", "I", "D", "G", "E")
t = list(t)
''.join(t)

'THE BRIDGE'

3. Write a Python program to generate a list where the values are square of numbers between 1 and 30 (both included), and return a list of first and last 5 elements of the list.

In [52]:
def squares():
    l = list(range(1, 31))
    new_l = list(map(lambda x: x ** 2, l))
    return new_l[:5]

squares()

[1, 4, 9, 16, 25]

4. Create a program that calculates the average.

The program will ask the user to specify how many numbers you want to enter, and will show a prompt to include number by number to a list, and then calculate the average of each number in that list.

In [55]:
from functools import reduce

times = int(input('How many numbers do you want to average?'))

count = 0
numbers_list = []

while count < times:
    a = float(input('Enter the number {} for your average'.format(count + 1)))
    numbers_list.append(a)
    count += 1


average = reduce(lambda a,b: a + b, numbers_list) / len(numbers_list)
average

25.0

# If you made it till here you did a fantastic work!

!["holo"](https://img-9gag-fun.9cache.com/photo/aNg9wMK_460s.jpg)